body{
    font-family: sans-serif;
}
html, .fullscren{
    display: flex;
    height: 100%;
    margin: 0%;
    padding: 0%;
    width: 100%;
}
.container{
    margin: auto;
}
#jogo{
    width:603px;
    height:600px;
    border:solid 3px
}
 
.linha{
    height:200px;
    border-bottom:solid 1px;
    color: darkmagenta;
}
 
.casa{
    width:200px;
    height:100%;
    border-right:solid 1px;
    float:left;
}


