body{
    font-family:'Gill Sans';
    background-color: aquamarine;
}
html, .fullscren{
    display: flex;
    height: 100%;
    margin: 0%;
    padding: 0%;
    width: 100%;
}
h1,h3{
    text-align: center;
    font-family: 'Franklin Gothic Medium';
}
.container{
    margin: auto;
}
table {
    width:450px;
    height:350px;
    border:1px solid black;
}
table tr {
    background-color:#FFC9D8;
    font:bold 46px Verdana;
    color:black;

}
table tr td {
    text-align:center;
    width:33.33%;
    border: solid 2px rgb(0, 0, 0);
}
table tr td:hover {
    cursor: grab;
}
input[type=button] {
    width:60px;
    height:25px;
    font-size:15px;
    font-weight:bold; 
    margin-bottom:10px;
    border-color:deeppink;
}
fieldset {
    font-size:20;
    font-weight:bold; 
    border:2px solid BLACK; 
    width: 300px; 
    margin-bottom:25px;
}